<% provide(:title, 'Index') %>
<h1>Change Maker</h1>
<p>A simple currency denomination calculator</p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag("", method: "get") do %>
      <%= label_tag(:amount, "Amount:") %>
      <%= number_field_tag :amount, "", class: 'form-control', :step => 0.01 %>

      <%= submit_tag "Convert", class: 'btn btn-primary' %>
    <% end %>
    
    <br/>
    <h5><strong>Results: </strong></h5>
    <pre>
      Amount: <%= number_to_currency @amount %>
      ------------------------------------------
      <% @app.each do |key, value| %>
      <%= "#{value} #{key}" %>
      <% end %>
      
    </pre>
  </div>


</div>